.new-task {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.new-task .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-task .content section img{
    width: 80%;
    align: center;
}

.new-task .content section {
    max-width: 380px;
    width: 100%;
}

.new-task .content section h1 {
    font-size: 32px;
    margin: 64px 0 32px;
}

.new-task .content section p {
    font-size: 18px;
    line-height: 32px;
}

.new-task .content form {
    width: 100%;
    max-width: 450px;
}

.new-task .content form input {
    margin-top: 8px;
}

.new-task .content form textarea {
    margin-top: 8px;
}


